.textModal{
    font-size: 1.3rem;
}

.container{
  grid-gap: 50px;
  padding: 40px;
}

.receipts, .expenses, .resume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 10px;
    text-align: center; 
    box-shadow: 1px 5px 10px rgb(90, 86, 86);
   
}

.resume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

.inputs{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.description-value, .category-value{
    grid-gap: 5px;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: 5px;
    
}

.container, .inputs, .description-value, .category-value{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.receipt-description, .receipt-value, .expense-category, .expense-value{
    border: 1px solid white;
    border-radius: 5px;
    width: 6vw;
    color: white;
    background-color: rgb(146, 195, 218);
}

.ctotal-receipts, .ctotal-expenses{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    padding: 5px;
    margin-top: 40px;
    font-family: 'DM Mono';
    border-radius: 2px;
}

.title{
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'DM Mono';
}

p{
    color: black;
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
}


#sobra{
    font-size: 5rem;
    color: black;
}

#description, #category{
    border-radius: 6px;
    width: 6vw;
    padding: 3px;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 1px 1px 1px 1px rgb(193, 232, 245);
}

#value-expenses, #value-receipts{
    border-radius: 6px;
    width: 6vw;
    padding: 3px;
    border: none;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    box-shadow: 1px 1px 1px 1px lightblue;
}

#add{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    font-size: 1.3rem;
    margin-left: 5px;
    align-self: center;
    background-color: rgb(114, 202, 114);
    color: white;

}

#add:hover{
    background-color: rgb(37, 153, 37);
}

.delete{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    border: none;
    font-size: 1.4rem;
    background-color: rgb(221, 84, 84);
    color: white;
}

.delete:hover{
    background-color: rgb(141, 13, 13);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

@media(max-width: 1980px){

    #description, #category, #value-expenses, #value-receipts, .receipt-description, .receipt-value, .expense-category, .expense-value{
        width: 10vw;
    }
    
}

@media(max-width: 1190px){
    .container{
        grid-gap: 20px;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;

    }

    #description, #category, #value-expenses, #value-receipts, .receipt-description, .receipt-value, .expense-category, .expense-value{
        width: 20vw;
    }
}

@media(max-width: 991px){
    html{
        font-size: 55%;
        
    }
    
}

@media(max-width: 800px){
   
    #description, #category, #value-expenses, #value-receipts, .receipt-description, .receipt-value, .expense-category, .expense-value{
        width: 30vw;
    }
}

@media(max-width: 300px){
   
    html{
        font-size: 40%;
        
    }

    #description, #category, #value-expenses, #value-receipts, .receipt-description, .receipt-value, .expense-category, .expense-value{
        width: 28vw;
    }

    #description, #category, #value-expenses, #value-receipts, .receipt-description, .receipt-value, .expense-category, .expense-value{
        padding: 0.5px;
    }

    #sobra{
        font-size: 6rem;
    }
}


