@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Gudea:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manjari:wght@100;400;700&family=Montserrat:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; 
}

body{
    background-image: linear-gradient(to right, #cfa3e6, #ecbb60, #96DADE);
    
}

header{
 background-color: rgba(255, 255, 255, 0.418);
 padding: 14px;
 margin-bottom: 40px;
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid orange;
}

.date{
    margin-top: 3px;
}

.date, .hello-name{
    font-size: 1.5rem;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
}

.hello-name{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.menu-item{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px;
    align-self: center;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.manjari{
    font-family: 'Manjari', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.gudea{
    font-family: 'Gudea', sans-serif;
}

.inter{
    font-family: 'Inter', sans-serif;
}

.dropdown-menu{
    --bs-dropdown-bg: hsla(0, 0%, 100%, 0.705);   
    --bs-dropdown-border-color: none;
    --bs-dropdown-link-active-bg: orange;
}