header{
 background-color: rgba(255, 255, 255, 0.418);
 padding: 14px;
 margin-bottom: 40px;
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid orange;
}

.date, .hello-name{
    font-size: 1.5rem;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
}

.hello-name{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.menu-item{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px;
    align-self: center;
}
.container{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  padding: 40px;
  /* height: 80vh; */
}

.receipts, .expenses, .resume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 10px;
    /* border-radius: 10px; */
    text-align: center; 
    box-shadow: 1px 5px 10px rgb(90, 86, 86);
   
}

.resume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

.inputs{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    
}

.description-value, .category-value{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
    margin-bottom: 5px;
    
    
    
}

.receipt-description, .receipt-value, .expense-category, .expense-value{
    border: 1px solid #6e4ceb;
    border-radius: 5px;
    width: 8vw;
    background-color: orange;
}

.ctotal-receipts, .ctotal-expenses{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    padding: 5px;
    margin-top: 40px;
    font-family: 'DM Mono';
    border-radius: 2px;
}

.title{
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'DM Mono';
}

p{
    color: black;
    font-size: 1.3rem;
    width: 15vw;
    margin: auto;
}

/* .resume{
    padding: 80px;
} */

.resume-value{
    font-size: 5rem;
}

#description, #category{
    border-radius: 6px;
    width: 8vw;
    padding: 3px;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 1px 1px 1px 1px rgb(193, 232, 245);
}

#value-expenses, #value-receipts{
    border-radius: 6px;
    width: 8vw;
    padding: 3px;
    border: none;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    box-shadow: 1px 1px 1px 1px lightblue;
}

#add{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-left: 3px;
    align-self: center;
}

#add:hover{
    background-color: rgb(120, 216, 120);
}

.delete{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.delete:hover{
    background-color: rgb(230, 66, 66);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}




