*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; 
}
body{
    background-image: linear-gradient(to right,#909396, #cfa3e6, #dfcaa4, #96DADE,  #909396);
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}

.display-text{
    width: 80vw;
    max-width: 800px;
    text-align: center;
    
}

.main-text{
    text-shadow: 2px 2px rgb(131, 130, 130);
    color: #FFBF44;
    margin-bottom: 40px;
    font-size: 5rem;
}

.main-text2{
    font-size: 3rem;
    color: #320C44;
}

.login{
    background-color: #131212de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-height: 500px;
    min-height: 400px;
    width: 80vw;
    max-width: 400px;
    border: 2px solid #0F0586;
    border-radius: 20px;
    margin-right: 50px;
    
}
.acesse-conta{
    border-bottom: 1px #FFBF44 solid;
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
    font-size: 2.5rem;
}

.form-login{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.login-places{
    margin: 10px;
    width: 60vw;
    max-width: 280px;
    border-radius: 13px;
    padding: 5px;
}

.login-places:hover{
    border: 2px solid #FFBF44;
}

.entrar{
    margin: auto;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #FFBF44;
}

.bottom-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.manjari{
    font-family: 'Manjari', sans-serif;
}


@media(max-width: 1300px){
    .login{
        min-height: 350px;
    }
    .display-text{
        max-width: 450px;
    }
    .main-text{
        font-size: 2.5rem;
    }
    .main-text2{
        font-size: 2rem;
     
    }
   
}

@media(max-width: 950px){
  
    .container{
        display: flex;
        flex-direction: column;   
    }

    .login{
        margin: auto;
    }
}

@media(max-width: 600px) {
    html{
        font-size: 50%;
    }

    .login{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .display-text{
        margin-top: 1px;
        height: 5vh;
    }

    .main-text{
        margin: auto;
        margin-bottom: 20px;
    }

}


@media(max-width: 300px){
    html{
        font-size: 40%;
    }
    
    .login{
        margin-top: 10px;
    }

}

